*{
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(9, 48, 9);
    /* animation: containerColor 8s infinite; */
    /* background-image: url(./resources/download.jpeg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  */
}

.text {
    width: 300px;
    height: 300px;
    color: white;
    background-color: rgb(14, 14, 14);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 100px;
    text-shadow: 2px 2px 80px #FF0000;
}

.hint {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 25px;
}
.hint:hover .tooltip{
    font-size: 15px;
    visibility: visible;
}
.tooltip {
    color: yellow;
    visibility: hidden;   
}

.clickMeBtn {
    margin: 50px;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(14, 14, 14);
    color: #fff;
    border: 2px dashed #dce6e1;
}

.modalMsg {
    position: absolute;
    width: 200px;
    font: 20px;
    color: #333;
    padding: 50px 20px;
    background-color: #fff;
    animation: modalmsgAnim 8s infinite;
    font-weight: 800;
    line-height: 1.8;
}

@keyframes modalmsgAnim {
    0%   {background-color:rgb(206, 179, 179); left:0%; top:500px;}
    20%  {background-color:rgb(201, 201, 169); left:25%; top:500px;}
    50%  {background-color:rgb(157, 157, 212); left:50%; top:500px;}
    80%  {background-color:rgb(148, 195, 148); left:75%; top:500px;}
    100% {background-color:rgb(208, 153, 153); left:100%; top:500px;}
  }
